<!DOCTYPE html>
<html>
<head><title>login</title></head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>
<div ng-app="">  <h1 align=center>REGISTRATION FORM</h1> <br/><p align = center >
<form action = "registform" id="reg" method = post>
<p>Name             : <input id =field1 name="field1" type = "text" ng-model="a" placeholder = "Full Name" ></p>
<p>Email ID         : <input id =field2 name="field2" type = "text" ng-model="b" placeholder = "Email ID here"></p>
<p>User ID			: <input id =field3 name="field3" type = "text" ng-model="c" placeholder = "User ID"></p>
<p>Password         : <input id =field4 name="field4" type = "password" ng-model="d" placeholder = "Password "></p>
<p>Confirm Password : <input id =field5 name="field5" type = "password" ng-model="e" placeholder = "Re-type password"></p>


<h2> YOURS ENTRIES ARE </h2>
Name    : {{'{{a}}'}}<br/>
Email   : {{'{{b}}'}}<br/>
User ID : {{'{{c}}'}}<br/>
password: {{'{{d}}'}}<br/>

<h3>click Confirm to Register</h3>
<input type="submit" />
</p></form>
</div>

</body>
</html>
